body {
    font-family: 'Lora', sans-serif;
    background: url("images/bg.gif");
    background-size: cover;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-content: center;
    height: 100vh;
}

.content {
}

.content a {
    font-size: 35px;
    color: #343d46;
    text-decoration: none;
    font-weight: bold;
}
